% rebase("base.html")



<div class="container shadow p-3 mb-5 bg-white rounded">

    <form method="POST" class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Dodaj dogodek</legend>

            <h3 style="color:red">
                {{error}}
            </h3>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="imeinpriimek">Ime in priimek:</label>
                <div class="col-md-4">
                    <input id="imeinpriimek" name="imeinpriimek" type="text" placeholder="ime..."
                        class="form-control input-md" required="">
                    <span class="help-block">Vpišite vaše polno ime </span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="letnik">Letnik:</label>
                <div class="col-md-4">
                    <input id="letnik" name="letnik" type="number" placeholder="vpišite številko..."
                        class="form-control input-md" required="">
                    <span class="help-block"> Primer: 1</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="smer">Smer:</label>
                <div class="col-md-4">
                    <input id="smer" name="smer" type="text" placeholder="vaša smer..." class="form-control input-md"
                        required="">
                    <span class="help-block">Vpišite kateri študij obiskujete</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="ucilnica">Učilnica:</label>
                <div class="col-md-4">
                    <input id="ucilnica" name="ucilnica" type="number" placeholder="številka učilnice..."
                        class="form-control input-md" required="">
                    <span class="help-block">Primer: 201</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="predmet">Predmet:</label>
                <div class="col-md-4">
                    <input id="predmet" name="predmet" type="text" placeholder="predmet..."
                        class="form-control input-md" required="">
                    <span class="help-block">Vpišite za kateri predmet nudite pomoč</span>
                </div>
            </div>

            <!-- HTML Form (wrapped in a .bootstrap-iso div) -->

            <div class="form-group ">
                <label class="col-md-4 control-label" for="datum">Datum:</label>
                <div class="input-group col-md-4">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar">
                        </i>
                    </div>
                    <div class="col-md-20">
                        <input class="form-control" required="" id="datum" name="datum" placeholder="MM/DD/YYYY"
                            type="text" />
                        <span class="help-block"> Primer: 25/8/2020</span>
                    </div>
                </div>
            </div>
            <div class="form-group">

            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="ura">Ura:</label>
                <div class="col-md-4">
                    <input id="ura" name="ura" type="text" placeholder="ura..." class="form-control input-md"
                        required="">
                    <span class="help-block">Primer: 12:45</span>
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="dodaj-dogodek"></label>
                <div class="col-md-8">
                    <button id="dodaj-dogodek" name="dodaj-dogodek" class="btn btn-success">Dodaj</button>
                    <!--<button id="preklicidodajanje" name="preklicidodajanje" class="btn btn-danger">Prekliči</button> -->

                </div>
            </div>

        </fieldset>
    </form>

    <a href='/dogodki/'><button id="preklicidodajanje" name="preklicidodajanje"
            class="btn btn-danger">Prekliči</button></a>

</div>