<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Dogodki</title>
</head>

<body>
    <div class="container">
        <!--Table-->
        <h1> {{uporabnik}}</h1>

        <a href='/odjava/'><button class="btn btn-primary">Odjava</button></a>
        <a href='/ustvari-dogodek/'><button class="btn btn-primary">Ustvari dogodek</button></a>
        <table id="tablePreview" class="table">
            <!--Table head-->
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Ura</th>
                    <th>Ime in priimek</th>
                    <th>Letnik</th>
                    <th>Smer</th>
                    <th>Učilnica</th>
                    <th>Predmet</th>
                    
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>
                % for dogodek in dogodki:
                <tr>
                    <td>{{dogodek['datum']}}</td>
                    <td>{{dogodek['ura']}}</td>
                    <td>{{dogodek['ime']}}</td>
                    <td>{{dogodek['letnik']}}</td>
                    <td>{{dogodek['smer']}}</td>
                    <td>{{dogodek['ucilnica']}}</td>
                    <td>{{dogodek['predmet']}}</td>
                </tr>

                % end

            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    </div>



    <!-- Bootstrap knjižnice -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>