% rebase("base.html")

<div class="container shadow p-3 mb-5 bg-white rounded">
  <form method="POST" class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>PRIJAVA</legend>

      <h3 style="color:red">
        {{error}}
      </h3>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="uporabnisko_ime">Uporabniško ime</label>
        <div class="col-md-4">
          <input id="uporabnisko_ime" name="uporabnisko_ime" type="text" placeholder="uporabniško ime..."
            class="form-control input-md" required="">
          <span class="help-block">Vpišite svoje uporabniško ime</span>
        </div>
      </div>

      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="geslo">Geslo</label>
        <div class="col-md-4">
          <input id="geslo" name="geslo" type="password" placeholder="geslo..." class="form-control input-md"
            required="">
          <span class="help-block">Vpišite svoje geslo</span>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="prijava"></label>
        <div class="col-md-4">
          <button id="prijava" name="prijava" class="btn btn-primary">Potrdi</button>

        </div>
      </div>

    </fieldset>
  </form>

  <a href="/registracija/"><button class="btn btn-primary">Registracija</button></a>



</div>