<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Registracija</title>
</head>

<body>
  <div class="container shadow p-3 mb-5 bg-white rounded">
    <form method="POST" class="form-horizontal">
      <fieldset>

        <!-- Form Name -->
        <legend>REGISTRACIJA</legend>

        <h3 style="color:red">
          {{error}}
        </h3>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="uporabnisko_ime">Uporabniško ime</label>
          <div class="col-md-4">
            <input id="uporabnisko_ime" name="uporabnisko_ime" type="text" placeholder="uporabniško ime..."
              class="form-control input-md" required="">
            <span class="help-block">Vpišite svoje uporabniško ime</span>
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="geslo">Geslo</label>
          <div class="col-md-4">
            <input id="geslo" name="geslo" type="password" placeholder="geslo..." class="form-control input-md"
              required="">
            <span class="help-block">Vpišite svoje geslo</span>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="tip_osebe">Tip osebe</label>
          <div class="col-md-4">
            <select id="tip_osebe" name="tip_osebe" class="form-control">
              <option value="1">Tutor</option>
              <option value="2">Učenec</option>
            </select>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="registracija"></label>
          <div class="col-md-4">
            <button id="registracija" name="registracija" class="btn btn-primary">Potrdi</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div>


  <!-- Bootstrap knjižnice -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>